# For node_modules
node_modules

# For build folder
build

# For coverage folder
coverage

# For logs folder
logs

# For .env file
.env

# For sample file
/sample

# Uploads folder
uploads

# for old controllers
/controllers/*.old.js